@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');

@import "status.css";
@import "nav.css";

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
body{
    height: 2000px;
    padding: 30px 30px 0px 30px;
    background-color: black;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.more__bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.more__bar span{
    font-size: 33px;
    font-weight: 600;
}
.more__icon i{
    margin-left: 70px;
}
.more__icon i:last-child{
    position: relative;    
}
.more__icon i:last-child i{
    position: absolute;
    color: #5390f5;
    top:-5px;
    right: -15px;
}
.more__button-bar{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(255,255,255,0.5);
}
.more__button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more__button i{
    margin-bottom: 30px;
}
.profile{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-bottom: 50px;
    margin: 30px 0px;
}
.photo__frame{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    overflow: hidden;
}
.profile__info{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.profile__info span:first-child{
    font-size: 25px;
    margin-bottom: 10px;
}
.profile__info span:last-child{
    opacity: 60%;
}
.profile__info span:last-child i{
    color: #5390f5;
}
.profile__icon{
    position: absolute;
    width: 30px;
    right: 0;
}
.more__icons-bar{
    width: 100%;
    height: 800px;
    border-bottom: 1px solid rgb(255,255,255,0.5);
    display: flex;
    flex-flow: wrap;
}
.icon-set{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 140px;
    opacity: 70%;
}
.icon-set i{
    margin-bottom: 20px;
}
.icon-set span{
    font-weight: 300;
}
.more__app{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0px 0px 10px 7px;
}
.suggest__app{
    padding: 20px;
    width: 130px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.more__suggestion{
    list-style: none;
    width: 100%;    
    display: flex;
}