@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');

@import "status.css";
@import "nav.css";
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
body{
    height: 2000px;
    padding: 30px 30px 0px 30px;
    background-color: black;
}
ul{
    list-style: none;
}
.setting__header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setting__header-bar span{
    font-size: 33px;
    font-weight: 600;
}
.head__list-item{
    position: relative;
    border-bottom: 1px solid rgb(255,255,255,0.3);
    display: flex;
    padding: 40px 0px 40px 0px;
    font-size: 25px;
}
.head__list-item i{
    margin-right: 60px;
}
.head__list-item span{
    padding-top: 5px;
    display: flex;
}
.extra-info{
    position: absolute;
    right: 10px;
    opacity: 30%;
}
.head__list{
    padding-left: 0%;
}
.new{
    margin-left: 10px;
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    
}
