.status-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.status__left span{
    font-size: 22px;
}
.status__right i{
    margin-right: 10px;
}
