.status-bar{
    position: fixed;
    top:0%;
    left: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 0px 30px;
}
.status__left span{
    font-size: 22px;
}
.status__right i{
    margin-right: 10px;
}
